html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 90vw;
  height: 60vw;
  max-height: 90vh;
  max-width: 60vh;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  margin-top: 20px;
}

.start-button {
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #45a049;
}

@media (max-width: 600px) {
  .home-container {
    width: 100vw;
    height: 66.67vw; /* Maintain 9:6 ratio */
    max-height: 100vh;
    max-width: 75vh; /* Maintain 9:6 ratio */
  }

  h1 {
    font-size: 1.5em;
  }

  .start-button {
    padding: 10px;
    font-size: 1em;
  }
}
