.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.start-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
}

.video-feed {
  margin-top: 20px;
  display: none; /* Hide the video element */
}
