.initial-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    cursor: pointer;
  }
  
  .initial-screen h1 {
    font-size: 24px;
    color: #333;
  }
  